/* Universal Styles */
@font-face {
    font-family: 'Brandon Bold';
    src: url('../font/Brandon_bld.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Light';
    src: url('../font/Brandon_light.otf');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	border:0;
	margin:0;
	color: rgb(49, 49, 49);
}

a {
	color: #E73827;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-style: solid;
	margin: 15px 0px;
	border-width: .07em;
	border-bottom: none;
	border-color: #777;
}

select {
	margin-bottom: 15px;
}

/* Navigation Styles */

.nav {
	background-color: #8FC5C5;
	width:100%;
}

.container {
	width:1000px;
	margin:0 auto;
	padding:0px 20px;
}

.container p {
	font-size: 1.25em;
	line-height: 1.5;
}

.nav .title,
.nav a {
	color: #fff;
	font-weight: bold;
	font-family: 'Brandon Bold', inherit;
	line-height: 150px;
}

.nav .title {
	text-align: left;
	width: 50%;
	float: left;
	font-size: 40px;
}

.nav .title a {
	text-decoration: none;
	font-size: 40px;
	margin:0px;
}

.nav a {
	text-decoration: none;
	text-align: right;
	margin:0px 10px;
	font-size: 24px;
}

.nav a:hover {
	color: rgb(49, 49, 49);
	transition: .05s;
}

.nav .current {
	color: rgb(49, 49, 49);
}

.nav .links {
	width:50%;
	float:right;
	text-align: right;
}

.clear {
	clear: both;
}

.a-title {
	text-align: center;
}

/* Murray Tutorial */

#murray div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	margin-right: 2px;
	background-color: teal;
}

#murray .axis path,
#murray .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

#murray .axis text {
	font-family: "Helvetica";
	font-size: 11px;
}

/* Bostock */

#bostock #chart1 {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

#bostock #chart2 rect {
  fill: steelblue;
}

#bostock #chart2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#bostock #chart3 rect {
  fill: steelblue;
}

#bostock #chart3 rect:hover {
	fill: darkred;
}

#bostock .axis text,
.custom .x.axis text {
  font: 10px Avenir;
}

.custom .y.axis text {
	font: .9em 'Brandon Light';
}

.custom .x.axis text {
	fill: #FFF2D4;
}

#bostock .axis path,
#bostock .axis line,
.custom .axis path,
.custom .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.custom .y.axis path {
	stroke: none;
}

#bostock .x.axis path, 
.custom .x.axis path,
.custom .x.axis line {
  stroke: none;

}

/* Custom */

#basketball h2,
#basketball .conf-title {
	font-family: 'Brandon Bold', inherit;
}

.custom .acc-top {
	fill: #F15A3A;
}

.custom .acc-bottom {
	fill: #98D6D7;
}

.custom .acc-top:hover,
.custom .acc-bottom:hover {
	fill: rgb(49, 49, 49);
}

#custom1 {
	font-family: 'Brandon Light';
	font-size: 13x;
	font-weight: bold;
	text-anchor: middle;
	fill: #fff;
}

p.source {
	font-size: .75em;
}

p.source a {
	font-weight: normal;
}
