/* Index */

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	margin-right: 2px;
	background-color: teal;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: "Helvetica";
	font-size: 11px;
}

/* Bostock */

#bostock #chart1 {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

#bostock #chart2 rect {
  fill: steelblue;
}

#bostock #chart2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#bostock #chart3 rect {
  fill: steelblue;
}

#bostock #chart3 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}