/* Universal Styles */

body {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	border:0;
	margin:0;
}

a {
	color: #8b2900;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-style: solid;
	margin: 15px 0px;
	border-width: .07em;
	border-bottom: none;
	border-color: #777;
}

/* Navigation Styles */

.nav {
	background-color: #5F9EA0;
	width:100%;
}

.container {
	width:1000px;
	margin:0 auto;
	padding:0px 20px;
}

.container p {
	font-size: 1.25em;
	line-height: 1.5;
}

.nav .title,
.nav a {
	color: #fff;
	font-weight: bold;
	line-height: 150px;
}

.nav .title {
	text-align: left;
	width: 50%;
	float: left;
	font-size: 40px;
}

.nav .title a {
	text-decoration: none;
	font-size: 40px;
	margin:0px;
}

.nav a {
	text-decoration: none;
	text-align: right;
	margin:0px 10px;
	font-size: 24px;
}

.nav a:hover {
	color: #3d3d3d;
	transition: .05s;
}

.nav .current {
	color: #3d3d3d;
}

.nav .links {
	width:50%;
	float:right;
	text-align: right;
}

.clear {
	clear: both;
}

.a-title {
	text-align: center;
}

/* Murray Tutorial */

#murray div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	margin-right: 2px;
	background-color: teal;
}

#murray .axis path,
#murray .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

#murray .axis text {
	font-family: "Helvetica";
	font-size: 11px;
}

/* Bostock */

#bostock #chart1 {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

#bostock #chart2 rect {
  fill: steelblue;
}

#bostock #chart2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#bostock #chart3 rect {
  fill: steelblue;
}

#bostock #chart3 rect:hover {
	fill: darkred;
}

#bostock .axis text,
.custom .axis text {
  font: 10px sans-serif;
}

#bostock .axis path,
#bostock .axis line,
.custom .axis path,
.custom .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bostock .x.axis path 
.custom .x.axis path {
  display: none;
}

/* Custom */

.custom .acc-top {
	fill: orange;
}

.custom .acc-bottom {
	fill: brown;
}

.custom .acc-top:hover,
.custom .acc-bottom:hover {
	fill: steelblue;
}

#custom1 {
	font-family: "Avenir";
	font-size: 13x;
	font-weight: bold;
	text-anchor: middle;
}

p.source {
	font-size: .75em;
}

p.source a {
	font-weight: normal;
}
